POSTGRES_DB=joomla_db
POSTGRES_USER=joomla_user
POSTGRES_PASSWORD=joomla_pass_2026
JOOMLA_SITE_NAME="Portal Parcial Comunicaciones"
JOOMLA_ADMIN_USER="Administrador Parcial"
JOOMLA_ADMIN_USERNAME=admin
JOOMLA_ADMIN_PASSWORD=AdminParcial2026!
JOOMLA_ADMIN_EMAIL=admin@example.com
JUPYTER_TOKEN=parcial2026
GRAFANA_ADMIN_USER=admin
GRAFANA_ADMIN_PASSWORD=AdminGrafana2026!